# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
/build
/out
/.next

# Testing
/coverage

# Local env files
*.local
.env*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
