html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.navbar-logo img {
    height: 30px;
    width: 206px;
}

/* Desktop links */
.navbar-links {
    list-style: none;
    display: flex;
    gap: 46px;
    margin: 0;
    margin-right: 30px;
    padding: 0;
    cursor: pointer;
}

.navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
    color: black;
    font-weight: bold;
}

/* Hamburger icon (hidden on desktop) */
.navbar-menu-icon {
    display: none;
    cursor: pointer;
}

/* Sidebar menu styles */
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: #ffffff;
    box-shadow: -2px 0px 8px rgba(0, 0, 0, 0.15);
    transition: right 0.3s ease-in-out;
    padding-top: 80px;
    z-index: 20;
}

.sidebar.open {
    right: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 24px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #333;
    font-weight: 600;
}

.sidebar ul li a:hover {
    color: black;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 1024px) {
    .navbar-links {
        display: none;
        /* hide desktop nav */
    }

    .navbar-menu-icon {
        position: fixed;
        display: block;
        top: 20px;
        right: 20px;
        z-index: 100;
        cursor: pointer;
    }
}